body {
    margin: 0%;
    border: 1px solid;
}

div {
    position: absolute;
    top: 15%;
    left: 35%;
    border: 1px solid white;
    border-radius: 8px;
    padding: 40px;
}

input {
    width: 300px;
    min-width: 100px;
    padding: 10px;
    background-color: whitesmoke;
    margin-bottom: 10px;
    border: none;
}

input:focus {
    outline: none;
    color: white;
    background-color: rgba(70, 131, 18, 0.35);
}

button {
    margin: 20px;
    width: 100px;
    height: 35px;
    color: white;
    background-color: rgb(175, 102, 243);
    border: none;
}